{
    //Converte as features do es6 para javascript para o ambiente em que está sendo executado
    "presets": ["@babel/preset-env"],
    "plugins" : [
        "@babel/plugin-transform-async-to-generator"
    ]
}